<h1><%= "Details for #{@restaurant.name}" %></h1>
<ul>
<li><%= "Name: #{@restaurant.name}" %></li>
<li><%= "Address: #{@restaurant.address}" %></li>
<li><%= "Telephone: #{@restaurant.phone_number}" %></li>
<li><%= "Type: #{@restaurant.category}" %></li>
</ul>
